body{
	background-color: #DEDEDE;
}

#title{
	vertical-align: 17%;
	background-color: #0B335E;
	color: #FFFFFF;
	font-size: 300%;
}
#Heading{
	background-color: #0B335E;
}
#Disclaimer{
	text-align: justify;
	font-size: 200%;

}
#submit{
	font-size: 20px;
	color: white;
	width: 80px;
	height: 40px;
	background-color: #0B335E;
	margin-left: 0.5%;
}