body{
	font: Arial;
}
#pictureTable{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	background-color: #DEDEDE;
	padding-top: 0.5%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 0.5%;
}
#submitButton{
	margin-left: auto;
	padding: 0.2% 0.5%;
	margin-left: 37%;
}
#pageTitle{
	vertical-align: 19%;
	background-color: #0B335E;
	padding-right: 0.3%;
	color: #FFFFFF;
	font-size: 300%;
}
#question{
	margin-top: 1%;
	margin-bottom: 0%;
	background-color: #DEDEDE;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	text-align: center;
}
#heading{
		background-color: #0B335E;
}