body{
	background-color: #DEDEDE;
}
#score{

}
#timeStamp{
	
}
#title{
	vertical-align: 19%;
	background-color: #0B335E;
	padding-right: 0.3%;
	padding-right: 0%;
	color: #FFFFFF;
	font-size: 300%;
}
#Heading{
	background-color: #0B335E;
}
